{% extends 'students/students_base.html' %}

{% block content %}
<div class="row g-4">
    <div class="col-md-4">
        <div class="card p-3 text-center ">
            <h6>Total Courses</h6>
            <h2>{{ total_courses }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 text-center ">
            <h6>Completed Courses</h6>
            <h2>{{ completed_courses }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 text-center ">
            <h6>Total Reviews</h6>
            <h2>{{ total_reviews }}</h2>
        </div>
    </div>
</div>

<div class="mt-5">
    <h5>Enrolled Courses</h5>
    <div class="row g-3 mt-2">
        {% for enrollment in enrolled_courses %}
        <div class="col-md-4">
            <div class="card p-3 course-card">
                <h6>{{ enrollment.course.name }}</h6>
                <p class="text-muted">Code: {{ enrollment.course.code }}</p>
                <p>{{ enrollment.course.description|truncatewords:20 }}</p>
                <!-- students/dashboard.html -->
<a href="{% url 'students:course_detail' enrollment.course.id %}" class="btn btn-primary">View Lessons</a>

            </div>
        </div>
        {% empty %}
        <p>No courses enrolled yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
